<div class="jumbotron">
  <h1>Stupendously Awesome Word DeFiner!</h1>
  <hr>
</div>
<h1>Word: <b><%= @word.spelling() %></b></h1>
<h3>Here's a picture of your word (if included!):</h3>
<img src="<%= @word.picture() %>" alt="user_pic">

<% if @word.definitions != [] %>
<h3>Here are all of your definitions:</h3>
<ul>
  <% @word.definitions.each() do |definition| %>
    <li> <%= definition.meaning() %></li>
  <% end %>
<% end %>
</ul>

<h3><a href="/<%= @word.id %>/definition/new">Add a new Definition for "<%= @word.spelling() %>"!</a></h3>
<h3><a href="/">Back</a></h3>
